@model DotBlog.Core.Objects.ListType

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    
    <input type="submit" value="create"/>
}

@Html.ActionLink("Index", "Index")

