@model DotBlog.Core.Objects.ListType

@{
    ViewBag.Title = "title";
   // Layout = "Create.cshtml`";
}

<h2>title</h2>


@using (Html.BeginForm())
{
    @Html.DisplayForModel()

    <input type="submit" value="delete" />
}

@Html.ActionLink("Index", "Index")